
body {
    
    background-color: #1E1F22;
  }
  

.chat {
  width: 100%;
    background-color: #313239;
    padding: 0 15px;
    color : white;

    width: calc(85%);
  }
  

.header-chat {
    background-color: rgb(39, 39, 44);
    height: 40px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.300);
    display:flex;
    align-items: center;
}


.chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:rgb(247, 247, 247);
  }


.chat .header-chat {
    /* margin-left: 30px; */
    color:#fcfcfc;
    font-size: 14pt;
  }

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}




.client-chat{
  width: 50%;
  word-wrap: break-word;
  background-color: #97a0b8;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin:10px 0;
}


.my-chat{
  width: 20%;
  word-wrap: break-word;
  background-color: #6f90eb;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 5px 0 5px auto;
}







