@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --dark-bg: #36393f;
  --dark-server-list: #202225;
  --server-divider: #2d2f32;
  --blurple: #7289da;
  --dark-blurple: #4d5e94;
  --green: #43b581;
  --dark-primary: #2f3136;
  --text-gray: #dcddde;
  --user-box: #292B2F;
  --iconColor: #b9bbbe;
  --red: #dd4444;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.rootDiv {
  display: grid;
  grid-template-columns: 0px 70px 300px;
  grid-template-rows: auto;
}

.servers {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: row1-start;
  grid-row-end: 3;
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: var(--dark-server-list);
  overflow-y: auto;
  scrollbar-width: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.servers::-webkit-scrollbar,
.nav::-webkit-scrollbar {
  width: 0px;
}

.homebutton {
  position: relative;
  background-color: var(--dark-bg);
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.server {
  position: relative;
  background-color: var(--dark-bg);
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.server img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
  user-select: none;
}

.invite {
  color: var(--green) !important;
  font-size: 48px;
}

.invite:hover {
  color: #FFFFFF !important;
  background-color: var(--green) !important;
}

.server-active,
.server:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.server img:hover {
  border-radius: 30%;
  transition: 0.3s;
}

.homebutton:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.server-divider {
  margin-top: 7px;
  width: 50%;
  background-color: var(--server-divider);
  height: 3px;
  border: none;
  border-radius: 15px;
}

.side-bar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  float: right;
  /* width: 80%; */
  height: 100vh;
  background-color: var(--dark-primary);
  box-shadow: 0 0 10px 0 rgba(69, 59, 59, 0.2);
}

.nav {
  overflow-y: auto;
}

.navGuildItems {
  display: flex;
  justify-content: space-between;
}

.guild-opener {
  height: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.navguild {
  border-bottom: 1px solid var(--dark-server-list);
}

.guildDropdown {
  margin-right: 43px;
}

.userBox {
  position: absolute;
  bottom: 0;
  background-color: var(--user-box);
  width: 100%;
  height: 53px;
  margin-bottom: 0;
  display: flex;
}

.userAvatar {
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.userAvatar:hover {
  background-color: #000000;
  opacity: 0.8;
}

.userinfo {
  margin-left: 55px;
  margin-top: 10px;
  cursor: pointer;
}

.username {
  display: block !important;
  margin: 0;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.discriminator {
  display: block !important;
  margin: 0;
  font-weight: lighter;
  color: var(--text-gray);
}

.guildSelectorName {
  user-select: none;
  cursor: pointer;
}

.usermenuicons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.mic,
.headphone,
.settings {
  padding: 2px;
  user-select: none;
  cursor: pointer;
}

.mic svg,
.headphone svg,
.settings svg {
  height: 20px;
  width: 20px;
  fill: var(--iconColor);
}

.mic:hover,
.headphone:hover,
.settings:hover {
  background-color: var(--dark-bg);
}

.icon-strikethrough {
  fill: var(--red);
}

.servermodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #2a2b38;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-chat{
  display: flex;
  padding: 10px 0px 10px 0px ;
  height: 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color:rgb(49,51,56);
  border-bottom: 1px solid var(--dark-server-list);
  box-shadow: var(--text-gray);
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.icon-menu-chat {
  display: flex;
  margin: 0 10px 0 10px;
  color: rgb(181,186,193);
  justify-content: center;
  flex-direction: column;
} 

.icon-menu-chat img {
  width: 24px;
  height: 24px;
  align-items: center;
  padding: 0 10px 0 10px;
  position: relative;
}

.search-menu-chat{
  padding: 0 10px 0 10px;  
  display: flex;
  align-items: center;
}

.search-chat {
  font-size: 14px;
  height: 20px;
  border: 10px;
  background-color: rgb(30,31,34);
  color: var(--text-gray);
  padding: 6px 6px 6px 6px;
  border-end-start-radius: 5px;
  border-start-start-radius: 5px;
  transition: all 0.3s ease
}


.search-chat:focus {
  outline: none;
  width: 300px;
}


.search-btn {
  background-color: rgb(30,31,34);
  border: none;
  color: var(--text-gray);
  font-size: 14px;
  cursor: pointer;
  height: 32px;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;

}

.search-btn img{
  height: 15px;
  width: 15px;
}



.ch-name{
  padding: 0 10px 0 10px; 
  font-weight: lighter;
  font-size: 20px;
  color: var(--text-gray);
}

.input-message{
  display: flex;
  text-align: left;
  position: fixed;
  bottom: 10px;
  width: 90vw;
  padding-left: 10px;
  
}



.chat-input{
  background-color: #383A40;
  width: 55vh;
  height: 4vh;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  outline: none;
}

.nav-chat { grid-area: header; }
.chatbox { grid-area: menu; }
.members { grid-area: right; }
.input-message { grid-area: footer; }


.container {
  display: grid;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 1; 
  grid-template-areas:
  'header header'
  'menu right '
  'footer right ';
  grid-template-columns:  1fr;
  grid-template-rows: 70px 1fr 55px;
}

.members{
  background-color: rgb(43,45,49);
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}



