
<link rel="stylesheet" href="{{ url_for('static', path='/style/style-mainfriend.css') }}">
<div class="AddFriend">
    <h2 style="font-family:Mukta">ADD FRIEND</h2>
    <p style="font-family:Mukta" >You can add a friend with their Discord Tag.it's cAsE sEnSitlvE!</p>
    <form id="formSendfriend">
    <div class="sendbox">
    <input type="text" placeholder="Enter a Username#0000"  id="btnSendFriend"> 
    <button   type="submit" style="font-family:Mukta" id="inputFriendID"  disabled >Send Friend Request</button>
    </div>
    </form>
</div>

<script>
   // const buttonSendFriend = document.getElementById('btnSendFriend');
   // const inputFriendID = document.getElementById('inputFriendID');
    
   
    
</script>