
<div class="AddFriend">
    <h2 style="font-family:Mukta">ADD FRIEND</h2>
    <p style="font-family:Mukta" >You can add a friend with their Discord Tag.it's cAsE sEnSitlvE!</p>
    <div id="formSendfriend">
    <div class="sendbox">
        <input type="text" placeholder="Enter a Username#0000"  id="inputFriendID"> 
        <button   style="font-family:Mukta; font-size:15px" id="SendFriend">Send Request</button>
    </div>
    </div>
</div>




<script>
         document.getElementById('SendFriend').addEventListener('click' , (e) =>{
            let friend_id = document.getElementById('inputFriendID').value
            const chars = friend_id.slice(0, friend_id.lastIndexOf("#"));
            var numbs = friend_id.slice(friend_id.lastIndexOf("#"));
            const tag = encodeURIComponent(numbs);
            async function addfriend(){
               await fetch(`/account/friends_request/${chars}/${tag}`, {
                            method: "POST",
                            body: JSON.stringify({
                                friend_name: chars,
                                friend_tag: tag
                            }),
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                            })
                    .then((response) => response.json())
                    .then((json) => {
                        console.log(json)
                        if(json.req_f=="success"){
                               alert("Sent Friend Request  successfully")
                        }else  {
                            alert("Failed to send friend request please check the username and tag!!!!")
                        }
                    })
                        }addfriend();
                    }                  
                        
        )

                                    



</script>

