<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{{ url_for('static', path='/assets/favicon.ico') }}">
    <title>Disquote Server Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style/style-login.css') }}">
    <!-- <link href="{{ url_for('static', path='/style/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', path='/style/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', path='/style/font-awesome.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', path='/style/style-pydash.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/style/dashboard.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
</head>

<body>
    <div class="navbar navbar-dark bg-dark text-white">
        <div>
            <a class="navbar-brand" href="/">
                <i class="fa-brands fa-discord"></i>
                Disquote Server Dashboard
            </a>

            <a class="navbar-brand" href="#top">
                <i class="fa fa-desktop"></i>
                General
            </a>
            <a class="navbar-brand" href="#get_proc">
                <i class="fa fa-list-alt"></i>
                Running Process
            </a>
        </div>
        <div>
            <a class="navbar-brand" id="annouce" href="/admin/annouce">
                <i class="fa fa-bullhorn"></i>
                Annouce
            </a>
            <a class="navbar-brand" href="/admin/login">
                <i class="fa fa-user"></i>
                Log out
            </a>
        </div>
    </div>

    <div class="main bg-secondary text-white" style="margin-top: 48px;">
        <br>
        <div class="main-inner">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="span5">
                        <div class="widget widget-table action-table text-dark">
                            <div class="widget-header"> <i class="fa fa-desktop"></i>
                                <h3>General Info</h3><i class="fa fa-minus"></i>
                                <div id="refresh-os">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <br>
                                <div style="text-align:center; color: black;">
                                    <b>Project:</b> <span class="" > Disquote </span><br>
                                    <b>OS:</b> <span class="" id="get-osname"></span><br>
                                    <b>Uptime:</b> <span class="" id="get-uptime"></span> Hours<br>
                                    <b>Hostname:</b> <span class="" id="get-hostname"></span><br>
                                    <b>CPU:</b> <span class="" id="get-cputype"></span><br>
                                    <b>CPU(s):</b> <span class="" id="get-cpucount"></span> Cores<br>
                                    <img src="/static/assets/disquote.png" width="108" height="108"/><br>
                                    <br><br>
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>

                    <div class="span3">
                        <div class="widget widget-table action-table text-dark">
                            <div class="widget-header"> <i class="fa fa-bolt"></i>
                                <h3>CPU Usage %</h3><i class="fa fa-minus"></i>
                                <div id="refresh-cpu">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <p></p>
                                <canvas id="cpuuChart" width="270" height="180"></canvas>
                                <div style="color: black;">
                                    <span class="cpuf" id="cpuf"></span>
                                    <span class="cpuu" id="cpuu"></span>
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>

                    <div class="span3">
                        <div class="widget widget-nopad text-dark">
                            <div class="widget-header"> <i class="fa fa-list-alt"></i>
                                <h3>Memory Usage GB</h3><i class="fa fa-minus"></i>
                                <div id="refresh-ram">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <p></p>
                                <canvas id="memoryChart" width="270" height="180"></canvas>
                                <div style="color: black;">
                                    <span class="memf" id="memf"></span>
                                    <span class="memu" id="memu"></span>
                                    <!-- <span class="memp" id="memp"></span> -->
                                </div>
                            </div>
                            <!-- /widget-content -->

                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="span12">
                        <div class="widget text-dark">
                            <div class="widget-header"> <i class="fa fa-list-alt"></i>
                                <h3> Running processes </h3><i class="fa fa-minus"></i>
                                <div id="refresh-ps">
                                </div>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <table id="get_proc" class="table table-hover table-condensed table-bordered">
                                </table>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span -->
                </div>
                <!-- /row -->

            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
    <!-- /main -->

    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span6">&copy; 2023 by <a href="https://github.com/saveffer1/OOP-Disquote">OOP Disquote</a> </div>
                    <div class="span6">65015143 <a href="https://github.com/saveffer1">Wiraphat Prasomphong</a> </div>
                    <div class="span6">65015077 <a href="https://github.com/API65015077">Thiraphat Suksamosorn</a> </div>
                    <div class="span6">65015162 <a href="https://github.com/rankspitter">Atiyut Yampean</a> </div>
                    <div class="span6">65015144 <a href="https://github.com/DreaMxickZ">Veerapod Chuchat</a> </div>
                    <!-- /span12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /footer-inner -->
    </div>
    <!-- /footer -->

    <script src="/static/script/jquery.js"></script>
    <script src="/static/script/bootstrap.js"></script>
    <!-- <script src="/static/script/base.js"></script> -->
    <!-- <script src="/static/script/Chart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="/static/script/jquery.dataTables.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="/static/script/dashboard.js"></script>


    <script type="text/javascript">
        function updateCPUChart() {
                $.getJSON('/admin/info/cpu', function (data) {
                    var cpuf = parseInt(data.cpu.free);
                    var cpuu = parseInt(data.cpu.used);

                    cpuChart.data.datasets[0].data = [cpuf, cpuu];
                    cpuChart.update();
                });
            }

        var cpu_ctx = $("#cpuuChart").get(0).getContext("2d");
            var cpuChart = new Chart(cpu_ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Free', 'Used'],
                    datasets: [{
                        label: 'CPU Usage %',
                        data: [],
                        backgroundColor: [
                            'rgba(10, 209, 27)',
                            'rgb(247, 70, 74)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        function updateMEMChart() {
                $.getJSON('/admin/info/ram', function (data) {
                    var ram = parseInt(data.ram);

                    memChart.data.datasets[0].data = [100 - ram, ram];
                    memChart.update();
                });
            }

        var mem_ctx = $("#memoryChart").get(0).getContext("2d");
            var memChart = new Chart(mem_ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Free', 'Used'],
                    datasets: [{
                        label: 'RAM Usage %',
                        data: [],
                        backgroundColor: [
                            'rgba(10, 209, 27)',
                            'rgb(247, 70, 74)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        $(function () {
            window.setInterval('info()', 5000);

            window.setInterval(updateCPUChart, 5000);
            window.setInterval(updateMEMChart, 5000);        });

        $(function pageLoad() {
            info();
            updateCPUChart();
            updateMEMChart();        
        });


    </script>

</body>

</html>