<div class="guildSettings">
    
</div>

<div class="guildSettings">
    <div class="navguild">
        <div class="guild-opener">
            <div class="navGuildItems">
                <!-- <h4 class="guildSelectorName">Server Name</h4> -->
                    <div class="navbar">
                        <div class="logo">  <a id="nameofserver"></a></div>
                    
                        <div class="toggle_btn"> <i class="fa-solid fa-chevron-down"></i></div>
                    </div>
            </div>  
        </div>
    </div>
    <div class="channel">
        <div class="textch">
            <a>Text Channel </a> 
            <a href="#" class="add_btn" id="add_btnTxt"><i class="fa-solid fa-plus"></i></a> 
            <div class="ch_room">
            <ul id="todoListTxt"> 
                <li><i class="fa fa-hashtag"></i><a href="#" style="font-family: Mukta;">General</a></li></ul>
            </ul>
            </div>
        </div>
        <div class="voicech">
            <a>Voice Channel</a>  <a href="#" class="add_btn" id="add_btnV"><i class="fa-solid fa-plus"></i></a> 
            <div class="voice_room">
            
                <ul id="todoListV"  > 
                    <li><i class="fa fa-volume-high"></i><a href="#" style="font-family: Mukta;">General</a></li></ul>
                </ul>
            </div>
        </div>
        </div>
        <!-- <div class="popup_add_text_ch">
                <div class="popup_add_content">
                        <h3 style="font-family:mukta">Create Channel</h3>
                        <h6 style="font-family:mukta">Text Channel</h6>
                        <br>
                        <h4 style="font-family:mukta">Channel Name</h4><br>
                        <input type="text" placeholder="Name Channel" style="font-family:mukta">
                        <br><br><br>
                        <a href="#" class="btn_add">Create Channel</a>
                        <a href="#" class="btn_cancel" id="btn_cancel"  style="font-family:mukta">Cancel</a>
                        
                </div>
        </div>-->
                <div id="popupTxt">
                    <form id="todoFormTxt">
                        <div class="popup_add_content">
                            <h3 style="font-family:mukta">Create Channel</h3>
                            <h6 style="font-family:mukta">Text Channel</h6>
                            <br>
                            <h4 style="font-family:mukta">Channel Name</h4><br>
                            <input type="text" placeholder="Name Channel" style="font-family:mukta" id="todoInputTxt">
                            <button type="submit" style="font-family:mukta" class="btn_add" >Create Channel</button>
                            <a href="#" class="btn_cancel" id="btn_cancelTxt"  style="font-family:mukta">Cancel</a>
                        </div>
                    </form>
                </div>
                <div id="popupV">
                    <form id="todoFormV">
                        <div class="popup_add_content">
                            <h3 style="font-family:mukta">Create Channel</h3>
                            <h6 style="font-family:mukta">Voice Channel</h6>
                            <br>
                            <h4 style="font-family:mukta">Channel Name</h4><br>
                            <input type="text" placeholder="Name Channel" style="font-family:mukta" id="todoInputV">
                            <button type="submit" style="font-family:mukta" class="btn_add"  >Create Channel</button>
                            <a href="#" class="btn_cancel" id="btn_cancelV"  style="font-family:mukta">Cancel</a>
                        </div>
                    </form>
                </div>
</div>
<div class="dropdown_menu">
    <li><a href="#">Server Setting</a></li>
    <li><a href="#">invite Link</a></li>
    <li><a href="#">Leave Server</a></li>
    <li><a href="#" class="action_btn">Leave</a></li>
</div>


<script>
        var nameserver=(localStorage.getItem("serverName"));
        let name = document.getElementById("nameofserver");
        name.innerHTML = nameserver;  
</script>




<script>
    // const roomName = document.getElementById('roomName')

    const toggleBtn = document.querySelector('.navbar')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen
    ? 'fa-solid fa-xmark'
    : 'fa-solid fa-chevron-down'
    }


    const addBtnTxt = document.getElementById('add_btnTxt');
    const closeBtnTxt = document.getElementById('btn_cancelTxt');

    const addBtnV = document.getElementById('add_btnV');
    const closeBtnV = document.getElementById('btn_cancelV');
    const popupTxt = document.getElementById('popupTxt');
    const todoFormTxt = document.getElementById('todoFormTxt');
    const todoInputTxt = document.getElementById('todoInputTxt');
    const todoListTxt = document.getElementById('todoListTxt');

    const popupV = document.getElementById('popupV');
    const todoFormV = document.getElementById('todoFormV');
    const todoInputV = document.getElementById('todoInputV');
    const todoListV = document.getElementById('todoListV');


    addBtnTxt.addEventListener('click', () => {
        popupTxt.style.display ='block';
    });

    closeBtnTxt.addEventListener('click', () => {
        popupTxt.style.display = 'none';
        });
    
    addBtnV.addEventListener('click', () => {
            popupV.style.display ='block';
        });

    closeBtnV.addEventListener('click', () => {
            popupV.style.display = 'none';
            });

    todoFormTxt.addEventListener('submit', (e) => {
    e.preventDefault();
    const todoText = todoInputTxt.value;
     if (todoText) {
        const todoItem = document.createElement('li');
        const todoLink = document.createElement('a');
        const todoIcon = document.createElement('i');
        todoLink.href =todoText ;
        todoLink.style.fontFamily = 'Mukta';
        todoLink.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;' + todoText;
        todoIcon.classList.add('fa', 'fa-hashtag');
        todoItem.appendChild(todoIcon);
        todoItem.appendChild(todoLink);
        todoListTxt.appendChild(todoItem);
        todoInputTxt.value = '';
        popupTxt.style.display = 'none';
    }
    });

    todoFormV.addEventListener('submit', (e) => {
        e.preventDefault();
        const todoText = todoInputV.value;
        if (todoText) {
            const todoItem = document.createElement('li');
            const todoLink = document.createElement('a');
            const todoIcon = document.createElement('i');
            todoLink.href = todoText;
            todoLink.style.fontFamily = 'Mukta';
            todoLink.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;' + todoText;
            todoIcon.classList.add('fa', 'fa-volume-high');
            todoItem.appendChild(todoIcon);
            todoItem.appendChild(todoLink);
            todoListV.appendChild(todoItem);
            todoInputV.value = '';
            popupV.style.display = 'none';
        }
        });
    
</script>
