<link rel="stylesheet" href="{{ url_for('static', path='/style/style-profile-status.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/style/style-mainfriend.css') }}">

<div class="guildSettings">
    <div class="navguild">
        <div class="guild-opener">
            <div class="navGuildItems">
                <h4 class="guildSelectorName">Friends list</h4>
            </div>
        </div>
    </div>  
    <div class="dm_text">
    </div>
        <a style="padding-left: 10px; margin-top: 10px;">ช่วงนี้เหงาๆนะ หาคนคุยไหม ...</a>
    </div>

</div>






