<div class="guildSettings">
    
</div>

<div class="guildSettings">
    <div class="navguild">
        <div class="guild-opener">
            <div class="navGuildItems">
                <!-- <h4 class="guildSelectorName">Server Name</h4> -->
                    <div class="navbar">
                        <div class="logo"><a href="#" id="nameofserver"></a></div>
                    
                        <div class="toggle_btn"> <i class="fa-solid fa-chevron-down"></i></div>
                    </div>
            </div>  
        </div>
    </div>

    <div class="channel">
        <div class="textch">
            <a>Text Channel </a> 
            <a href="#" class="add_btn" id="add_btnTxt"><i class="fa-solid fa-plus"></i></a> 
            <div class="ch_room">
            <ul id="todoListTxt"  > 
                <li><i class="fa fa-hashtag"></i><a href="#" style="font-family: Mukta;">General</a></li></ul>
            </ul>
            </div>
        </div>
        <div class="voicech">
            <a>Voice Channel</a>  <a href="#" class="add_btn" id="add_btnV"><i class="fa-solid fa-plus"></i></a> 
            <div class="voice_room">
            
                <ul id="todoListV"  > 
                    <li><i class="fa fa-volume-high"></i><a href="#" style="font-family: Mukta;">General</a></li></ul>
                </ul>
            </div>
        </div>


        </div>
        <!-- <div class="popup_add_text_ch">
                <div class="popup_add_content">
                        <h3 style="font-family:mukta">Create Channel</h3>
                        <h6 style="font-family:mukta">Text Channel</h6>
                        <br>
                        <h4 style="font-family:mukta">Channel Name</h4><br>
                        <input type="text" placeholder="Name Channel" style="font-family:mukta">
                        <br><br><br>
                        <a href="#" class="btn_add">Create Channel</a>
                        <a href="#" class="btn_cancel" id="btn_cancel"  style="font-family:mukta">Cancel</a>
                        
                </div>
        </div>-->
                <div id="popupTxt">
                <form id="todoFormTxt">

                    <div class="popup_add_content">
                        <h3 style="font-family:mukta">Create Channel</h3>
                        <h6 style="font-family:mukta">Text Channel</h6>
                        <br>
                        <h4 style="font-family:mukta">Channel Name</h4><br>
                        <input type="text" placeholder="Name Channel" style="font-family:mukta" id="todoInputTxt">
                        

                        <button type="submit" style="font-family:mukta" class="btn_add" >Create Channel</button>
                        <a href="#" class="btn_cancel" id="btn_cancelTxt"  style="font-family:mukta">Cancel</a>
                        
                        </div>
                </form>
                </div>

                <div id="popupV">
                    <form id="todoFormV">
    
                        <div class="popup_add_content">
                            <h3 style="font-family:mukta">Create Channel</h3>
                            <h6 style="font-family:mukta">Voice Channel</h6>
                            <br>
                            <h4 style="font-family:mukta">Channel Name</h4><br>
                            <input type="text" placeholder="Name Channel" style="font-family:mukta" id="todoInputV">
                            <button type="submit" style="font-family:mukta" class="btn_add"  >Create Channel</button>
                            <a href="#" class="btn_cancel" id="btn_cancelV"  style="font-family:mukta">Cancel</a>
                        </div>
                    </form>
                    </div>
</div>
<div class="dropdown_menu">
    <li><a href="#">Server Setting</a></li>
    <li><a href="#">invite Link</a></li>
    <li><a href="#">Leave Server</a></li>
    <li><a href="#" class="action_btn">Leave</a></li>
</div>

