<div class="in-container">

    <div class="nav-chat">
        <div class="ch-name">
            <h5># ch_ name</h5>
        </div>
        <div class="nav-menu">
            <div class="icon-menu-chat">
                <img src="{{ url_for('static', path='/assets/pin.ico') }}" alt="pin">
            </div>                    
            <div class="icon-menu-chat">
            <img src="{{ url_for('static', path='/assets/member.png') }}" alt="member">
        </div>
        <div class="icon-menu-chat">
            <h5>member?</h5>
        </div>
        <div class="search-menu-chat">
            <input class="search-chat" type="text" placeholder="Search" >
            <button class="search-btn"> <img src="{{ url_for('static', path='/assets/search-icon.png') }}" alt=""></button>
            
        </div>
        
        
    </div>
    </div>
    
    <div class="input-message">
        <input class="chat-input" type="text" >
        <button class="chat-emoji">emoji</button>
        <button class="chat-strickers">strickers</button>
    </div>
    
    
    <div class="chatbox">
        <h1>chat box area</h1>
    </div>
    <div class="members">
        <div class="box-member">
            <div class="online-member-box">
                <h4>online -- </h4>
                <div class="online-member">

                </div>
                
            </div>
            
            <div class="offline-member-box">
                <h4>offline -- </h4>
                <div class="offline-member">

                </div>  
            </div>
        </div>
    </div>
</div>
</div>
<!-- #d38827 -->