<div class="in-container-dm">

    <div class="nav-chat-dm">
        <div class="ch-name">
            <h5>#my friends</h5>
        </div>
        <div class="line"></div>
        <div class="nav-dm">
            <div class="menu-dm">
                <h5>Friends List</h5>
            </div>                    
            <div class="menu-dm">
                <button class="menu-dm-btn">
                    <h5>Add Friends</h5>
                </button>
            </div>

        
        
    </div>
    </div>



    <div class="friend-list">
        <div class="search-friends-box">
            <input class="input-friends-box" type="text" placeholder="Search">
            <button class="search-friend-btn">
                <img src="{{ url_for('static', path='/assets/search-icon.png') }}" alt="">
            </button>
        </div>
        
            <br>
        
        <div class="status-row">
            <p1>online</p1>
        </div>
        <div class="user-row">
            <p1>ling jeak jeak</p1>
        </div>
        <br>

        <div class="status-row">
            <p1>offline</p1>
        </div>
        <div class="user-row">
            <p1>ling jeak jeak but offline</p1>
        </div>
        
    </div>


    <div class="members">
        <div class="box-member">
            
        </div>
    </div>
</div>
</div>