<div class="in-container">
    
    <div class="nav-chat">
        
        <div class="nav-menu">
            <div class="icon-menu-chat">
                <img src="{{ url_for('static', path='/assets/pin.ico') }}" alt="pin">
            </div>                    
            <div class="icon-menu-chat">
                <img src="{{ url_for('static', path='/assets/member.png') }}" alt="member">
            </div>
            <div class="icon-menu-chat"> <h5>member?</h5> </div>
            <div class="search-menu-chat">
                <input class="search-chat" type="text" placeholder="Search" >
                <button class="search-btn"> <img src="{{ url_for('static', path='/assets/search-icon.png') }}" alt=""></button>
                
            </div>
        
        
        </div>
    </div>

    <div class="chat-send">
                <div class="chatslide">
                    <div class="panelchat">
                        <div class="chat-item-main">
                            
                            <h2> Welcome to <br>   <label id="sever_name"></label> Server  </h2>
                            <p>This is the beginning of this server.</p>
                        </div>
                        <div class="line-4">
                            <hr>
                        </div>
                        <div class="chat-item" id="todo-chat-send">
                            <div class="chat-item-content">
                            <!-- <div class="chat-to-send">
                                <div class="Profile-Direct" style="width: 60px;" >
                                    <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" >    
                                </div>
                                <div class="content-chat">
                                    <div class="namechat">
                                        <h6><span class="name">Name</span>
                                            <span class ="date">09/76/333 17:09 PM</span>
                                        </h6>
                                        <div class="conchat">
                                            dfghjkl
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> -->
                        </div>
                        </div>
                    </div>
                </div>
                  
                    <div class="sendinput">
                        <form id="sendMessage">  
                        <input type="text" placeholder="Enter a Username#0000"  id="sendtextchat"> 
                    </form>
                        <button  id='sticker' >
                                <i class="fa-regular fa-face-smile fa-xl"> </i>
                        </button>
                        <button      >
                            <i class="fa-solid fa-note-sticky fa-lg"></i>
                        </button>
                    </div>
                
    </div>

    <div class="members">
        <div class="box-member">
            <div class="online-member-box">
                <h4>ONLINE -- x </h4>
                <div class="online-member">
                    <button class="Member-room">
                        <div class="gridProfile">
                            <div class="Profile-Direct" style="width: 70px;">
                                <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" > 
                                <div class="round online" style="width: 10px;
                                    height: 10px; margin-bottom: 10px;
                                    margin-right: 10px;
                                    border :5px solid rgba(43, 45,49, 1);">
                                </div>
                            </div>
                            <div class="txtnamedirect">
                                <label id="online_name"></label>
                            </div>
                        </div> 
                    </button>
                    
                        <button class="Member-room">
                            <div class="gridProfile">
                                <div class="Profile-Direct" style="width: 70px;">
                                    <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" > 
                                    <div class="round online" style="width: 10px;
                                        height: 10px; margin-bottom: 10px;
                                        margin-right: 10px;
                                        border :5px solid rgba(43, 45,49, 1);">
                                    </div>
                                </div>
                                <div class="txtnamedirect">
                                    <label>Member2</label>
                                </div>
                            </div> 
                        </button>
                        
                        
                        
                    
                </div>
                
            </div>
            
            <div class="offline-member-box">
                <h4>OFFLINE -- x </h4>
                <div class="offline-member">

                    <button class="Member-room">
                        <div class="gridProfile">
                            <div class="Profile-Direct" style="width: 70px;">
                                <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" >
                                <div class="round offline-direct" style="width: 10px;
                                    height: 10px; margin-bottom: 10px;
                                    margin-right: 10px; 
                                    border :5px solid rgba(43, 45,49, 1)"></div>
                                    
                            </div>
                                <div class="txtnamedirect">
                                    <label>Member3</label>
                                </div>
                        </div> 
                    </button>


                    <button class="Member-room">
                        <div class="gridProfile">
                            <div class="Profile-Direct" style="width: 70px;">
                                <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" >
                                <div class="round offline-direct" style="width: 10px;
                                    height: 10px; margin-bottom: 10px;
                                    margin-right: 10px;
                                    border :5px solid rgba(43, 45,49, 1);"></div>
                            </div>
                                <div class="txtnamedirect">
                                    <label>Member4</label>
                                </div>
                        </div> 
                    </button>
                </div>  
            </div>
        </div>
        
    </div>
    
</div>




<script>
    var targetDiv = document.querySelector('.chat-item-content');
    targetDiv.scrollTop = targetDiv.scrollHeight;


    const btnsticker = document.getElementById('sticker');
    btnsticker.addEventListener('click', () =>  {
      
    })

    
                
</script>
<script>

        const todochatsend = document.getElementById('todo-chat-send');
        const InputSendMessage = document.getElementById('sendMessage');

        const textsend = document.getElementById('sendtextchat');

        InputSendMessage.addEventListener('submit', (e) => {
            e.preventDefault();
            const sendtext = textsend.value;
            // console.log(sendtext);
            if (sendtext) {
                const todochattosend = document.createElement('div');
                const todoProfileDirect = document.createElement('div');
                const todocontentchat = document.createElement('div');
                const todoimage = document.createElement('img');
               
                const todonamechat = document.createElement('div');
                const todoconchat = document.createElement('div');
                const todoitem31 =document.createElement('div');
                

                const todoHeadSix = document.createElement('h6');
                const todoSpan1 = document.createElement('span');
                const todoSpan2 = document.createElement('span');

                
                

                const todate = new Date();
                const tododateDate = new Date().toISOString().split('T')[0];
                
                let namemeM = (localStorage.getItem("username"));
                
                todate.getHours() + ":" + todate.getMinutes() 
                



                const nameMember = 'Name ';

                todochattosend.classList.add('chat-to-send');

                todoProfileDirect.classList.add('Profile-Direct');
                todoProfileDirect.style.width='60px';


                todoimage.src ="{{ url_for('static', path='/assets/disquote.png') }}";

                todoProfileDirect.appendChild(todoimage);

                //เสร็จของProfileDirect



                //addclass contentchat
                todocontentchat.classList.add('content-chat');

                //addclass namechat
                todonamechat.classList.add('namechat');
                //addclass conchat
                todoconchat.classList.add('conchat');
                //เอาText เข้า         
                todoconchat.innerHTML=sendtext;
                //addclass span1
                todoSpan1.classList.add('name');
                //เอาtext เข้า
                todoSpan1.innerHTML=namemeM+'  ';
                
                //todoSpan1.innerHTML=nameMember;
                //addclass span1
                todoSpan2.classList.add('date');
                //เอาtext เข้า
                todoSpan2.innerHTML=tododateDate   + '  ' + todate.getHours() + ":" + todate.getMinutes() ;
                todoHeadSix.appendChild(todoSpan1);
                todoHeadSix.appendChild(todoSpan2);
                //เอา h6 และ และ div  conchat
                todonamechat.appendChild(todoHeadSix);
                todonamechat.appendChild(todoconchat);
                todocontentchat.appendChild(todonamechat);
                todochattosend.appendChild(todoProfileDirect);
                todochattosend.appendChild(todocontentchat);
                todochatsend.appendChild(todochattosend);
                textsend.value = '';
                //todochatsend.appendChild();                
                
                
            }
    });
        

</script>





<!-- //TODO: เหลือ loop check ว่ามีคนออนไลน์ไหม ถ้ามีก็ให้เปลี่ยนสี ถ้าไม่มีก็เปลี่ยนสี -->
<script>
    let user_online = (localStorage.getItem("username"));
    let name_box = document.getElementById("online_name");
    name_box.innerHTML = user_online;;  


    let ServerN = (localStorage.getItem("serverName"));
    
    let servername = document.getElementById("sever_name");
    servername.innerHTML = ServerN ;;  
</script>



