<link rel="stylesheet" href="{{ url_for('static', path='/style/style-mainfriend.css') }}">

<div class="search-friends-box" id="search-box">
    <input class="input-friends-box" type="text" placeholder="Search">
    <button class="search-friend-btn">
        <img src="{{ url_for('static', path='/assets/search-icon.png') }}" alt="">
    </button>
</div>
<br>


<div class="statuslist">
    

    <div class="kononline">
        <h2 style="font-family:Mukta">ONLINE - X</h2>
        <div class="line-4">
            <hr>
        </div>
       
        <div class="forbtnfriend">
            <button>
            <div class="grid_3">
                <div class="Profile-Flist">
                    <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" >
                    <div class ="round online">
                                        
                        
                    
                </div>
                        
                </div>
    
                    <div class="avatarname">
                        <h2>NameFriend
                          <br>  <label>Online</label>
                        </h2>
                       
                    </div>
               
            <div clas="avatarbtn"> 
            
                
                    <i class="fa-solid fa-message"  ></i>
                
    
              
            </div>
            </div>
           
            </button>
            <!-- คน 2 -->
            <div class="line-4">
                <hr>
            </div>
            <button>
                <div class="grid_3">
                    <div class="Profile-Flist">
                        <img src="{{ url_for('static', path='assets/disquote.png') }}"  alt="" >
                        <div class ="round online">
                                            
                            
                        
                    </div>
                            
                    </div>
        
                        <div class="avatarname">
                            <h2>NameFriend
                              <br>  <label>Online</label>
                            </h2>
                           
                        </div>
                   
                <div clas="avatarbtn"> ggg </div>
                </div>
              
                </button>
                <div class="line-4">
                    <hr>
                </div>
                

        </div>
              
            

            
            
        
    </div>


    <div class="konoffline">
        <h2 style="font-family:Mukta">OOFLINE - X</h2>
    <div class="line-4">
        <hr>
    </div>

        
    </div>


</div>