<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disquote</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/style/style-index.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="hidescroll">
    <div class="top-container">
        <header>
            <img src="{{ url_for('static', path='/assets/index/discord-logo.png') }}">
            <div class="center-nav">
                <!-- <a href="#">Download</a> -->
                <a href="#">Why Discord?</a>
                <!-- <a href="#">Nitro</a> -->
                <a href="#">Safety</a>
                <a href="#">Support</a>
            </div>
            <a href="/account/login">Open Discord</a>
            <img class="hamburger" src="{{ url_for('static', path='/assets/index/hamburger.svg') }}">
        </header>

        <div class="center-box">
            <h1>Your place to talk</h1>
            <p>Whether you’re part of a school club, gaming group, worldwide art community, or just a handful of friends
                that want to spend time together, Discord makes it easy to talk every day and hang out more often.</p>
            <div class="nav-buttons" id="x">
                <!-- <a href="//discord.com/api/download?platform=win"><svg width="24" height="24" viewBox="0 0 24 24" -->
                <!-- <a href="#"><svg width="24" height="24" viewBox="0 0 24 24"
                        class="icon-nuGd5b">
                        <g fill="currentColor">
                            <path
                                d="M17.707 10.708L16.293 9.29398L13 12.587V2.00098H11V12.587L7.70697 9.29398L6.29297 10.708L12 16.415L17.707 10.708Z">
                            </path>
                            <path
                                d="M18 18.001V20.001H6V18.001H4V20.001C4 21.103 4.897 22.001 6 22.001H18C19.104 22.001 20 21.103 20 20.001V18.001H18Z">
                            </path>
                        </g>
                    </svg>Download for Windows</a> -->
                <!-- <button>Open Discord in your browser</button> -->
                <a href="/account/login" style="color: #ffffff; background-color: #000000">
                    Open Discord in your browser
                </a>
            </div>
        </div>

        <img class="cloud" src="{{ url_for('static', path='/assets/index/cloud.svg') }}" width="35px">

    </div>
    <div class="container" data-aos="fade-up">
        <img class="container-img" src="{{ url_for('static', path='/assets/index/container-1.svg') }}">
        <div class="description">
            <h2>An invite-only place with plenty of room to talk</h2>
            <p>Discord servers are organized into topic-based channels where you can collaborate, share, and just talk
                about your day without clogging up a group chat.</p>
        </div>
    </div>

    <div class="container2" data-aos="fade-up">
        <div class="description">
            <h2>Where hanging out is easy</h2>
            <p>Grab a seat in a voice channel when you’re free. Friends in your server can see you’re around and
                instantly pop in to talk without having to call.</p>
        </div>
        <img class="container-img" src="{{ url_for('static', path='/assets/index/container-2.svg') }}">
    </div>

    <div class="container2-mobile" data-aos="fade-up">
        <img class="container-img" src="{{ url_for('static', path='/assets/index/container-2.svg') }}">
        <div class="description">
            <h2>Where hanging out is easy</h2>
            <p>Grab a seat in a voice channel when you’re free. Friends in your server can see you’re around and
                instantly pop in to talk without having to call.</p>
        </div>
    </div>

    <div class="container" data-aos="fade-up">
        <img class="container-img" src="{{ url_for('static', path='/assets/index/container-3.svg') }}">
        <div class="description">
            <h2>From a few to a fandom</h2>
            <p>Get a community of any size running with moderation tools and custom member access. Give members special
                powers, set up private channels, and more.</p>
        </div>
    </div>
    <div class="bottom-container" data-aos="fade-up">
        <div class="description">
            <h2>Reliable tech for staying close</h2>
            <p>Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends
                stream their games, or gather up and have a drawing session with screen share.</p>
        </div>
        <img src="{{ url_for('static', path='/assets/index/container-4.svg') }}">
    </div>
    
    <div class="last-message">
        <h4>Ready to start your journey?</h4>
        <!-- <a href="//discord.com/api/download?platform=win"><svg width="24" height="24" viewBox="0 0 24 24" -->
        <!-- <a href="#"><svg width="24" height="24" viewBox="0 0 24 24"
                class="icon-nuGd5b">
                <g fill="currentColor">
                    <path
                        d="M17.707 10.708L16.293 9.29398L13 12.587V2.00098H11V12.587L7.70697 9.29398L6.29297 10.708L12 16.415L17.707 10.708Z">
                    </path>
                    <path
                        d="M18 18.001V20.001H6V18.001H4V20.001C4 21.103 4.897 22.001 6 22.001H18C19.104 22.001 20 21.103 20 20.001V18.001H18Z">
                    </path>
                </g>
            </svg>Download for Windows</a> -->
            <a href="/account/login" style="color: #ffffff; background-color: #000000">
                Open Discord in your browser
            </a>

    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1000,
        });
    </script>
</body>

</html>