async function fetchsend() {
        let sRid = svid;
        let cRid =  localStorage.getItem("channel_id");
        const url1 = `/msg/${sRid}/${cRid}/getlist`;

        const response1 = await fetch(url1, {
            method: "GET", 
            credentials: "include", 
            headers: {
            "Content-Type": "application/json",
            },
        });
        const data1 = await response1.json();

        for (j = 0; j < data1.length; j++) {
        let senderby = data1[j].sender;
        let contentby = data1[j].content;
        let dateby = data1[j].date;

            const url2 = `/account/get_name/${senderby}`;
            const response2 = await fetch(url2, {
            method: "GET", 
            credentials: "include", 
            headers: {
            "Content-Type": "application/json",
            },
        });const data2 = await response2.json();    
        let    namesen=data2;
                const todochattosend = document.createElement('div');
                const todoProfileDirect = document.createElement('div');
                const todocontentchat = document.createElement('div');
                const todoimage = document.createElement('img');
                const todonamechat = document.createElement('div');
                const todoconchat = document.createElement('div');
                const todoitem31 =document.createElement('div');
                const todoHeadSix = document.createElement('h6');
                const todoSpan1 = document.createElement('span');
                const todoSpan2 = document.createElement('span');
                const todate = new Date();
                const tododateDate = new Date().toISOString().split('T')[0];
                let namemeM = (localStorage.getItem("username"));
                todate.getHours() + ":" + todate.getMinutes() 
                const nameMember = 'Name ';
                todochattosend.classList.add('chat-to-send');
                todoProfileDirect.classList.add('Profile-Direct');
                todoProfileDirect.style.width='60px';
                todoimage.src ="{{ url_for('static', path='/assets/disquote.png') }}";
                todoProfileDirect.appendChild(todoimage);
                todocontentchat.classList.add('content-chat');
                todonamechat.classList.add('namechat');
                todoconchat.classList.add('conchat');    
                todoconchat.innerHTML=contentby;
                todoSpan1.classList.add('name');
                todoSpan1.innerHTML=namesen+' ';
                todoSpan2.classList.add('date');
                todoSpan2.innerHTML=dateby
                todoHeadSix.appendChild(todoSpan1);
                todoHeadSix.appendChild(todoSpan2);
                todonamechat.appendChild(todoHeadSix);
                todonamechat.appendChild(todoconchat);
                todocontentchat.appendChild(todonamechat);
                todochattosend.appendChild(todoProfileDirect);
                todochattosend.appendChild(todocontentchat);
                todochatsend.appendChild(todochattosend);
    }
    }
    setInterval(fetchsend, 1000);